<h2 class="content-block">Impressum</h2>

<div class="content-block dx-card responsive-paddings">
    <b>Nettingsdorfer Tennisclub</b><br/>
    p.A. Nettingsdorfer Papierfabrik AG & Co KG<br/>
    Nettingsdorfer Straße 40<br/>
    4053 Haid bei Ansfelden<br/>
    E-Mail: tennis@tc-nettingsdorf.at<br/>
    ZVR 003155375<br/>
    Obmann: Alfred Glira<br/>
    664/220 18 83<br/>
    alfred.glira@smurfitkappa.at<br/>
  <br/>
  Obmann: Alfred Glira<br/>
  0664/220 18 83<br/>
  alfred.glira@smurfitkappa.at<br/>
  <br/>
  <b>Bankverbindung:</b><br/>
  RAIKA<br/>
  IBAN: AT62 3453 0000 0006 3529<br/>
  BIC: RZOOAT2L530<br/>
  <br/>


</div>
