<h2 class="content-block">Über uns</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
      <p>
          1953 als Betriebssportklub der Nettingsdor­fer Papierfabrik gegründet, ist der TC Nettingsdorf einer der ältesten Tennisvereine Oberösterreichs.
          Der Verein zählt derzeit an die 140 Mitglieder. Gespielt wird auf 4 Sandplätzen, die auch mit Flutlicht ausgestattet sind.
          Um mehr über uns zu erfahren, klicke dich einfach durch die Homepage. Bei konkreten Fragen steht dir folgende E-Mail-Adresse zur Verfügung:
          tennis@tc-nettingsdorf.at
      </p>
    </div>
</div>
